html, body {
  height:100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #FF5B85 50%, #FFEC10 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

.content {
  padding:10vmin;
  position:fixed;
  text-align:center;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
}

h1 {
  font-family:monospace;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}

.preloader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.preloader div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #FF5B85;
  animation: preloader 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.preloader div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.preloader div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.preloader div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}

@keyframes preloader {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}

a {
  color: #FF5B85;
}

a:visited {
  color: #CC486A;
}

a:hover {
  color: #CC486A;
}

p {
  color: white;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  font-size: large;
}

img.image-gallery-image {
    width:100%;
    max-width:300px;
    border-radius: 0% 10%;
    box-shadow: 0 0 0.5em rgb(0 0 0 / 25%);
    border: 1em solid #CC486A;
}